/*固定頁頭 Start--------------*/
#fixed-header-slide {
    width: 100%;
    height: 60px; /* 視情況而定(本例依圖片高度而設定) */
    position: fixed;
    top: 0px;
    z-index: 2;
}

#fixed-header-wrap {
    width: 100%;
    height: 60px; /* 視情況而定(本例依圖片高度而設定) */
    position: absolute;
    bottom: 0px;
}

header {
    width: 100%;
    height: 60px; /* 視情況而定(本例依圖片高度而設定) */
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0px;
    display: inline-block;
    box-shadow: 3px 3px 6px #dcdcdc;
    background-color:#ffffff;
}
